body{
  backgound:black;
}
form label{
  display:block;
font-size:20px;
}
table {

background: #555555;

font-weight: bold;

}
table tr td{
  
  border: 1px solid #000000;
border-color: black;
}  

<table>
  <tr>
 
<td> 7:10 </td>
<td>Quimica</td>
<td>Biologia</td>
<td>Historia</td>
<td>Ingles</td>
<td>portugues</td>
  
</tr>
      
 <tr>
 
<td>8:00 </td>
<td>Geografia</td>
<td>Matemática</td>
<td>Ed.Fisica</td>
<td>Pensamento Computacional</td>
<td>Historia</td>
  
</tr>
     <tr> 
<td>8:50 </td>
<td>Portugues</td>
<td>Matemática</td>
<td>Fisica</td>
<td>Projeto de vida</td>
<td>Geografia</td>
</tr>
 
}
  </table>
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
